{% extends 'shop/basic.html' %}

{% block title%} {{product.product_name}} - Food Mania {% endblock %}
{% block css %}
    #cont {
        min-height : 553px;
    }
{% endblock %}
{% block body %}
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            
            
            <div class="item-slick1 item1-slick1" style="background-image: url(/media/imagess/slide1-01.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                        Welcome to
                    </span>

                    <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        Pato Place
                    </h2>

                    <div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
                        <!-- Button1 -->
                        <a href="/shop/menu" class="btn1 flex-c-m size1 txt3 trans-0-4">
                            Look Menu
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item2-slick1" style="background-image: url(/media/imagess/master-slides-02.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rollIn">
                        Welcome to
                    </span>

                    <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
                        Pato Place
                    </h2>

                    <div class="wrap-btn-slide1 animated visible-false" data-appear="slideInUp">
                        <!-- Button1 -->
                        <a href="/shop/menu" class="btn1 flex-c-m size1 txt3 trans-0-4">
                            Look Menu
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item3-slick1" style="background-image: url(/media/imagess/master-slides-01.jpg);">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
                        Welcome to
                    </span>

                    <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
                        Pato Place
                    </h2>

                    <div class="wrap-btn-slide1 animated visible-false" data-appear="rotateIn">
                        <!-- Button1 -->
                        <a href="/shop/menu" class="btn1 flex-c-m size1 txt3 trans-0-4">
                            Look Menu
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="wrap-slick1-dots"></div>
    </div>
</section>

<!-- Welcome -->
<section class="section-welcome bg1-pattern p-t-120 p-b-105">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-welcome t-center">
                    <span class="tit2 t-center">
                        Italian Restaurant
                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-5">
                        Welcome
                    </h3>

                    <p class="t-center m-b-22 size3 m-l-r-auto">
                        Donec quis lorem nulla. Nunc eu odio mi. Morbi nec lobortis est. Sed fringilla, nunc sed imperdiet lacinia, nisl ante egestas mi, ac facilisis ligula sem id neque.
                    </p>

                    <a href="/shop/about" class="txt4">
                        Our Story
                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="/media/imagess/our-story-01.jpg" alt="IMG-OUR">
                </div>
            </div>
        </div>
    </div>
</section>

<div>&nbsp;
    <a href="/shop" class="active text-dark">
      <i class="fas fa-qrcode"></i>
      <span>All Food</span>
    </a>
</div>

<div class="container my-4" id="cont">
    <div class="row">
    <div class="col-md-4">
        <img src="/media/{{product.image}}" width="233px" height="300px">
    </div>

    <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p><b>Rs. {{product.price}} </b></p>
        <p>{{product.desc}}</p>
<!--        <button class="btn btn-primary mx-2">Add to Cart</button>-->
        <div class='alert alert-info col-md-4 col-md-offset-4'>
            <center>Click <a href='/shop/search/?search={{product.product_name}}' class='alert-link'>Here</a> to Order.</center>
        </div>
    </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script>
console.log('working');
if(localStorage.getItem('cart') == null){
var cart = {};
}

else{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
}

$('.cart').click(function(){

console.log('clicked');
var idstr = this.id.toString();
console.log(idstr);
if (cart[idstr] != undefined){
cart[idstr] = cart[idstr] + 1;
}
else{
cart[idstr] = 1;
}
console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
});
$('#popcart').popover()

document.getElementById("popcart").setAttribute('data-content', '<h5>Cart</h5>');
</script>
{% endblock %}
